<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
        <menuitem 
            id="bo_menu_root" 
            name="Angel - Booking Order" 
            sequence="10"/>

        <!-- This Menu Item Must have a parent -->
        <menuitem 
            id="bo_menu_categ" 
            name="Booking" 
            parent="bo_menu_root" 
            sequence="10"/>
    
    </data>
</odoo>